<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>23, 1, 1</string>
	<string>26, 2, 1</string>
	<string>27, 3, 1</string>
	<string>28, 4, 1</string>
	<string>29, 4, 2</string>
	<string>30, 4, 2</string>
	<string>31, 4, 2</string>
	<string>33, 4, 2</string>
	<string>34, 5, 0</string>
	<string>49, 4, 3</string>
	<string>50, 4, 3</string>
	<string>52, 4, 3</string>
	<string>53, 4, 3</string>
	<string>54, 4, 3</string>
	<string>55, 5, 3</string>
	<string>57, 1, 4</string>
	<string>58, 1, 4</string>
	<string>59, 2, 4</string>
	<string>60, 1, 4</string>
	<string>64, 1, 4</string>
	<string>68, 5, 4</string>
	<string>74, 4, 5</string>
	<string>75, 4, 5</string>
	<string>77, 4, 5</string>
	<string>78, 4, 5</string>
	<string>79, 4, 5</string>
</array>
</plist>
