<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;1. Over the &lt;em&gt;past 4 weeks&lt;/em&gt;, how often have you leaked urine? &lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;2. Which of the following best describes your urinary control &lt;em&gt; during the last 4 weeks&lt;/em&gt;&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;3. How many pads or adult diapers &lt;em&gt;per day&lt;/em&gt; did you usually use to control leakage &lt;em&gt;during the last 4 weeks&lt;/em&gt;&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;4. How big a problem, if any, has each of the following been for you during the last 4 weeks? &lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;5. Overall, how big a problem has your urinary function been for you &lt;em&gt; during the last 4 weeks? &lt;/em&gt;&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;6. How big a problem, if any, has each of the following been for you? &lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;7. Overall, how big a problem have your bowel habits been for you &lt;em&gt;during the last 4 weeks&lt;/em&gt;&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;8. How would you rate each of the following &lt;em&gt;during the last 4 weeks&lt;/em&gt;?&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;9. How would you describe the usual QUALITY of your erections &lt;em&gt;during the last 4 weeks&lt;/em&gt;? &lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;10. How would you describe the FREQUENCY of your erections &lt;em&gt;during the last 4 weeks&lt;/em&gt;? &lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;11. Overall, how would you rate your ability to function sexually &lt;em&gt;during the last 4 weeks&lt;/em&gt;?&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;12. Overall, how big a problem has your sexual function or lack of sexual function been for you &lt;em&gt;during the last 4 weeks&lt;/em&gt;?&lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h3&gt;13. How big a problem &lt;em&gt;during the last 4 weeks&lt;/em&gt;, if any, has each of the following been for you? &lt;/h3&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
</array>
</plist>
